@import "./../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;

  .heading-container {
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
    p {
      font-size: 0.8rem;
      font-weight: 500;
      color: $gray-400;
    }
  }

  .cart-items-container {
    margin-block: 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .cart-items-row {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      h5 {
        min-width: 60%;
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img.food-type-icon {
          height: 1rem;
          width: 1rem;
        }
      }
      p,
      div.price-container {
        min-width: 15%;
      }

      p,
      h6 {
        text-align: center;
        font-weight: 400;
        font-size: 0.9rem;
      }

      div.price-container {
        h6.discounted {
          text-decoration: line-through;
          color: $gray-400;
        }
      }
    }
  }
}
