$primary: #f8b400;
$secondary: #125b50;
$white: #faf5e4;
$pink: #ff6363;

$primary-light: #f9c333;
$primary-dark: #dfa200;

$white: #f7f5f5;
$gray-100: #ecf0f1;
$gray-200: #bdc3c7;
$gray-300: #95a5a6;
$gray-400: #7f8c8d;
$gray-500: #696969;
